<HEAD>
    <LINK REL="stylesheet" HREF="css/main.css" TYPE="text/css">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <TITLE>adik</TITLE>
</HEAD>
<BODY>

<div id="title">
    <h1><pre><span>
КОРПУС
ИСТОЧНИКОВ
ДЛЯ
АНАЛИЗА
ТЕКСТА</span></pre></h1>
</div>


<div class="box">

    <a href="1_step.html">НАЧАТЬ РАБОТУ</a>


</div>

<input name="button" type="button" ID="info_button" value="О СЕРВИСЕ" onclick="top.location.href='____.html'" />


<div id="data">
    <script src="data.js">
    </script>
</div>

</BODY>


</HTML>