<HTML>
<HEAD>
    <LINK REL="stylesheet" HREF="css/main.css" TYPE="text/css">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/userInterface.js"></script>
    <TITLE>adik</TITLE>
</HEAD>
<BODY>


<div id="title">
    <h1><pre><span>
КОРПУС
ИСТОЧНИКОВ
ДЛЯ
АНАЛИЗА
ТЕКСТА</span></pre>
    </h1>
</div>


<div class="box">

    <div id="bigButton">
        <a href="#">НАЧАТЬ РАБОТУ</a>
    </div>


    <div id="step1" class="dialog">
        <p>Введите ссылку* на статью</p>
        <input name="link" type="text" size="70" maxlength="256" id="ulr"/> <br />
        <div id="note">
            <p>*На данном этапе, поддерживаются только kinopoisk.ru и market.yandex.ru</p>
        </div>
        <input name="button" type="button" ID="submitButton" value="Начать" />


    </div>


</div>

<input name="button" type="button" ID="info_button" value="О СЕРВИСЕ" >


<div id="information" class="dialog">
    <p>Анализ теста - это процесс получения высококачественной информации из текста на естественном языке, что является в настоящее время очень актуальной темой в самых различных отраслях (социология, политология, маркетинг и др). Его целью является нахождение мнений в тексте и определение их свойств. В зависимости от поставленной задачи нас могут интересовать разные свойства, например:
        1. автор — кому принадлежит это мнение
        2. тема — о чем говорится во мнении
        3. тональность — позиция автора относительно упомянутой темы (обычно «положительная» или «отрицательная»)
        Но как получить данные для анализа и откуда?</p>
    Для этого и был разработан данный сервис. Здесь вы сможете получить нужные Вам для данные анализа :)
    <input name="button" type="button" ID="info_close" value="Закрыть"/>
    </div>
</BODY>


</HTML>